<!DOCTYPE html>
<html>
  <title>Age and Gender Detection - By ML and DL</title>
  <link rel="icon" href="../static/assets/lo.png" type="image/x-icon" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/styles/style.css" />
  <link rel="stylesheet" href="../static/styles/home.css" />
  <link rel="stylesheet" href="../static/styles/service.css" />
  <link rel="stylesheet" href="../static/styles/explore.css" />
  <link rel="stylesheet" href="../static/styles/aj.css" />
  <link rel="stylesheet" href="../static/styles/about.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Cherry+Bomb+One&family=Chokokutai&family=Luckiest+Guy&family=Ultra&display=swap"
    rel="stylesheet"
  />

  <body>
    <!-- home  -->
    <div class="home" id="home">
      <!-- nav -->
      <nav class="home_nav">
        <div class="home_nav_logo">
          <img src="../static/assets/lo.png" alt="" />
          <h1>brainCode</h1>
        </div>
        <div class="home_items">
          <a href="#home">Home</a>
          <a href="#explore">Explore</a>
          <a href="#service">Service</a>
          <a href="#team">Team</a>
        </div>
      </nav>

      <div class="home_part_1">
        <span> 01/07 </span>

        <div class="home_part_1_title_main">
          <div class="home_part_1_title">
            <h2>Changing your</h2>
            <h2>ideas into reality</h2>
            <h2>Age & Gender Prediction</h2>
          </div>
          <div class="home_part_1_h1"><h1>CNN</h1></div>

          <div class="home_part_1_title_p">
            <p>
              Data collection: Gather a large dataset of labeled images with age
              and gender annotations.
            </p>
          </div>
        </div>

        <div>
          <img
            class="home_part_1_img"
            src="../static/assets/bg2.png"
            alt="img"
          />
        </div>

        <div class="home_part_1_data_main">
          <div class="home_part_1_data">
            <div>
              <p>Description</p>
              <p>Specifications</p>
            </div>
            <div>
              <p>Compability</p>
              <p>Integrated</p>
              <p>Others</p>
              <p>Features</p>
            </div>
          </div>

          <div class="home_part_1_data_np">
            <p>N</p>
            <p>L</p>
            <p>P</p>
            <span />
          </div>

          <div class="home_part_1_data_circle">
            <h1>caffe</h1>
          </div>

          <div class="home_part_1_data_h1">
            <h1>ANN</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- explore  -->
    <div class="explore" id="explore">
      <h1>Technologies we are used for this project</h1>
      <div class="explore_titles_h1">
        <div class="explore_titles_h1_inner">
          <div>
            <h1>Machine</h1>
            <h1>Learning</h1>
            <p>
              Machine learning algorithms are utilized for age and gender
              prediction tasks.
            </p>
          </div>
          <video src="../static/assets/animations/a1.mp4" loop autoplay muted />
        </div>

        <div class="explore_titles_h1_inner">
          <div>
            <h1>Deep</h1>
            <h1>Learning</h1>
            <p>
              Deep learning techniques, particularly neural networks, have shown
              significant advancements in age and gender prediction data
            </p>
          </div>
          <video src="../static/assets/animations/a2.mp4" loop autoplay muted />
        </div>

        <div class="explore_titles_h1_inner">
          <div>
            <h1>Data</h1>
            <h1>Preprocessing</h1>
            <p>
              Data preprocessing techniques play a vital role in preparing the
              data for the age and gender prediction models.
            </p>
          </div>
          <video src="../static/assets/animations/a6.mp4" loop autoplay muted />
        </div>
        <div class="explore_titles_h1_inner">
          <div>
            <h1>Libraries &</h1>
            <h1>Frameworks</h1>
            <p>
              Various libraries and frameworks simplify the implementation of
              age and gender prediction models. spaCy
            </p>
          </div>
          <video src="../static/assets/animations/a5.mp4" loop autoplay muted />
        </div>
        <div class="explore_titles_h1_inner">
          <div>
            <h1>Data</h1>
            <h1>Labeling</h1>

            <p>
              Age and gender prediction models require labeled datasets for
              supervised learning.
            </p>
          </div>
          <video src="../static/assets/animations/a4.mp4" loop autoplay muted />
        </div>
      </div>
    </div>

    <!-- <div class="action-wrap">
      <div class="action-html">
        <input id="tab-1" type="radio" name="tab" class="live" checked /><label
          for="tab-1"
          class="tab"
          >Live</label
        >
        <input id="tab-2" type="radio" name="tab" class="photo" /><label
          for="tab-2"
          class="tab"
          >Photo</label
        >
        <div class="action-form">
          <div class="live-htm">
            <div class="group">
              <br /><br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img
                src="https://cdn.pixabay.com/photo/2021/03/23/09/01/webcam-6116845_1280.png"
                height="120"
                width="120"
              />
              <br /><br />
              <a href="/webcam"
                ><input type="submit" class="button" value="Go live to detect"
              /></a>
            </div>
          </div>
          <div class="photo-htm">
            <form
              action="/upload"
              method="POST"
              enctype="multipart/form-data"
              style="color: #aaa"
            >
              <br /><br />Select image to upload:<br /><br /><br />
              <input type="file" name="fileToUpload" id="fileToUpload" />
              <br /><br /><br /><br />
              <div class="group">
                <input
                  type="submit"
                  class="button"
                  value="Upload and detect"
                  name="submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    <!-- service -->

    <div class="service">
      <div class="service_data">
        <h1>image processing</h1>
        <span>Go live or Drag image</span>

        <p>
          Image processing plays a crucial role in age and gender prediction,
          especially when the input data consists of images. Image processing
          techniques are used to extract relevant features from the images and
          prepare the data for age and gender prediction models. Here are some
          key roles of image processing in this context:
        </p>
      </div>
      <div class="service_webcam">
        <img
          src="https://cdn.dribbble.com/userupload/7411457/file/original-d7e59363e3e7239565cf155a749ef514.png?resize=1200x900"
          alt=""
        />
        <a href="/webcam"
          ><input type="submit" class="button" value="Go live to detect"
        /></a>
      </div>

      <div class="service_selete">
        <img
          src="https://cdn.dribbble.com/userupload/8819825/file/original-9fc339edde7f2c5f9dd312d0e29bf8e6.png?resize=1200x900"
          alt=""
        />
        <form action="/upload" method="POST" enctype="multipart/form-data">
          Select image to upload:
          <input type="file" name="fileToUpload" id="fileToUpload" />
          <div class="service_btn">
            <input type="submit" value="Upload and detect" name="submit" />
          </div>
        </form>
      </div>
    </div>

    <!-- Container (About Section) -->
    <div class="about">
      <h1>Safeguarding Your Digital Frontier</h1>

      <p>Meet Our Team</p>
      <div class="about_imgs">
        <div class="about_imgs_div">
          <img src="/static/assets/img2.jpg" alt="" />
          <h2>Abhishek Kuntare</h2>
          <p>Founder, Head of Project</p>
        </div>

        <div class="about_imgs_div">
          <img
            src="https://abhishekkuntare0210.vercel.app/images/abhi.jpg"
            alt=""
          />
          <h2>Abhishek Kuntare</h2>
          <p>Co-Founder,Developer</p>
        </div>
      </div>
      <div class="about_robot_img">
        <img
          src="https://cdn.dribbble.com/users/14268/screenshots/21033389/a07b5d0d-2c78-4df1-981f-82b2aaa2076e.png"
          alt=""
        />
      </div>
    </div>

    <script>
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }
    </script>
  </body>
</html>
