.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
background: url("https://cdn.dribbble.com/users/14268/screenshots/21033389/a07b5d0d-2c78-4df1-981f-82b2aaa2076e.png");
height: 100vh;
}
.about > p{
  font-family: "Luckiest Guy";
  text-transform: uppercase;
  color:#d7c0f6;
  font-size: 30px;
}
.about > h1 {
    font-size: 60px;
color: black;
  font-weight: 600;
  font-family: "Luckiest Guy", cursive;
}
.about_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_imgs_div{

    margin-left: 20px;
}
.about_imgs_div > img{
border-radius: 50%;
width: 250px;
transition: all 0.5s ease-in-out;
}
.about_imgs_div > img:hover{
  transform: scale(1.1);
  cursor: pointer;
  width: 300px;
}
.about_imgs_div > h2{
  font-family: "Dancing Script";
  color: black;
  font-weight: 600;
}
.about_imgs_div > p{
  color: black;
  font-family: "Abril Fatface";
  font-weight: 900;
  font-size: 18px;
}



